.toggle-nav .fa {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

.logo {
  margin-left: 10px;
}

.sidebar-menu .fa {
  margin: auto 10px;
}

.sidebar-closed #sidebar {
  margin-left: -270px;
}
.sidebar-closed .option-popup {
  display: none;
}

.sidebar-closed .content .main-column {
  margin-left: 5px;
}

.hljsCode pre { padding: 0px; overflow: auto; word-wrap: normal; white-space: nowrap;}
.hljsCode pre code { padding: 24px 12px; overflow: auto; white-space: pre;}

.body blockquote {
  background-color: #edf4e8;
  border-color: #6ba442;
}
.body blockquote strong {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #edf4e8;
  border-color: #6ba442;
}
.body blockquote p { margin: 0px; }


.sidebar-menu li.toctree-l1 > ul {
  display: none;
}
.sidebar-menu li.toctree-l1 > ul.current {
  display: block;
}

.sidebar-menu ul ul {
  margin: 0;
}

.right-column .toc {
  display: none;
  padding: 12px 20px;
}
.right-column .toc .toc-header {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.right-column .toc #TableOfContents li > ul {
  padding-left: 5px;
}

.body div.admonition {
  padding: 2px 12px 12px 12px;
}

.body div.admonition h5 {
  font-weight: 800;
  text-transform: uppercase;
}

code {
  background-color: #ddd;
  color: #494747;
}
