<?xml version="1.0" encoding="utf-8"?>
  <configuration>  
	<packageSources>
	  <add key="LocalPackages" value="libs" />
	</packageSources>
	<activePackageSource>
	  <!-- this tells that all of them are active -->
	  <add key="All" value="(Aggregate source)" />
	</activePackageSource> 
 </configuration>