/* Style adjustments for Help Viewer */
th p {
	padding-bottom: 0px;
}
td p {
	padding-bottom: 5px;
}
.codeSnippetContainerTabs {
	top: 1px;
}
.codeSnippetToolBarText {
	top: -13px;
}
.codeSnippetContainerTabSingle {
	padding: 2px 15px 0px 15px;
	height: 22px;
}
.codeSnippetContainerTab a:visited {
	color: #000000;
}
.codeSnippetContainerTabActive a:visited {
	color: #000000;
}
span.keyword {
	color: #0000ff;
	font-weight: normal;
}
