<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="BsonTypeMapper Methods" Url="html/Methods_T_MongoDB_Bson_BsonTypeMapper.htm"><HelpTOCNode Title="MapToBsonValue Method " Url="html/Overload_MongoDB_Bson_BsonTypeMapper_MapToBsonValue.htm" HasChildren="true" /><HelpTOCNode Title="MapToDotNetValue Method " Url="html/Overload_MongoDB_Bson_BsonTypeMapper_MapToDotNetValue.htm" HasChildren="true" /><HelpTOCNode Title="RegisterCustomTypeMapper Method " Url="html/M_MongoDB_Bson_BsonTypeMapper_RegisterCustomTypeMapper.htm" /><HelpTOCNode Title="TryMapToBsonValue Method " Url="html/M_MongoDB_Bson_BsonTypeMapper_TryMapToBsonValue.htm" /></HelpTOCNode>