<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net45" developmentDependency="true" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net45" />
  <package id="DnsClient" version="1.0.7" targetFramework="net45" />
  <package id="SharpCompress" version="0.21.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
</packages>