<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="c_net35BsonDll" Guid="*">
        <File Id="f_net35BsonDll" Name="MongoDB.Bson.dll" Source="$(var.BinDir)\MongoDB.Bson.dll"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_net35BsonPdb" Guid="*">
        <File Id="f_net35BsonPdb" Name="MongoDB.Bson.pdb" Source="$(var.BinDir)\MongoDB.Bson.pdb"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_net35BsonXml" Guid="*">
        <File Id="f_net35BsonXml" Name="MongoDB.Bson.xml" Source="$(var.BinDir)\MongoDB.Bson.XML"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_net35DriverDll" Guid="*">
        <File Id="f_net35DriverDll" Name="MongoDB.Driver.dll" Source="$(var.BinDir)\MongoDB.Driver.dll"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_net35DriverPdb" Guid="*">
        <File Id="f_net35DriverPdb" Name="MongoDB.Driver.pdb" Source="$(var.BinDir)\MongoDB.Driver.pdb"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_net35DriverXml" Guid="*">
        <File Id="f_net35DriverXml" Name="MongoDB.Driver.XML" Source="$(var.BinDir)\MongoDB.Driver.XML"
              DiskId ="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="cg_net35">
      <ComponentRef Id="c_net35BsonDll"/>
      <ComponentRef Id="c_net35BsonPdb"/>
      <ComponentRef Id="c_net35BsonXml"/>
      <ComponentRef Id="c_net35DriverDll"/>
      <ComponentRef Id="c_net35DriverPdb"/>
      <ComponentRef Id="c_net35DriverXml"/>
    </ComponentGroup>

    <Feature Id="FrameworksFeature"
             Title ="Frameworks"
             Description="The supported frameworks."
             Level ="1"
             AllowAdvertise="no">
      <Feature Id="net35Feature"
               Title =".NET 3.5"
               Description="Install support for .NET 3.5."
               Level ="1"
               AllowAdvertise="no">
        <ComponentGroupRef Id="cg_net35" />
      </Feature>
    </Feature>
  </Fragment>
</Wix>