<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductId)" 
           Name="!(wix.ProductName)" 
           Language="1033" 
           Version="$(var.Version)" 
           Manufacturer="MongoDB Inc." 
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200" Compressed="yes" />

    <WixVariable Id="ProductShortName" Value="CSharpDriver $(var.SemVersion)" />
    <WixVariable Id="ProductName" Value="MongoDB CSharpDriver $(var.SemVersion)" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIInfoIco" Value="Installer_Icon_32x32.ico" />
    <WixVariable Id="WixUIExclamationIco" Value="Installer_Icon_32x32.ico" />
    <WixVariable Id="WixUINewIco" Value="Installer_Icon_16x16.ico" />
    <WixVariable Id="WixUIUpIco" Value="Installer_Icon_16x16.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceBase)\$(var.License)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="MONGODB" Name="MongoDB">
          <Directory Id="INSTALLDIR" Name="!(wix.ProductShortName)" />
				</Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MongoDBProgramsFolder" Name="MongoDB">
          <Directory Id="CSharpDriverProgramsFolder" Name="!(wix.ProductShortName)" />
        </Directory>
      </Directory>
		</Directory>

    <DirectoryRef Id="CSharpDriverProgramsFolder">
      <Component Id="c_ReleaseNotesShortCut" Guid="*">
        <CreateFolder Directory="MongoDBProgramsFolder" />
        <CreateFolder Directory="CSharpDriverProgramsFolder" />

        <Shortcut Id="f_ReleaseNotesShortCut" 
                  Name="Release Notes" 
                  Description="Release notes for MongoDB CSharp Driver"
                  Target="[INSTALLDIR]Release Notes.txt"
                  WorkingDirectory="INSTALLDIR"
                  Directory="CSharpDriverProgramsFolder"/>

        <RemoveFolder Id="RemoveCSharpDriverProgramsFolder" Directory="CSharpDriverProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveMongoDBProgramsFolder" Directory="MongoDBProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MongoDB\CSharpDriver\$(var.SemVersion)" Name="StartMenuReleaseNotesShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_HelpShortCut" Guid="*">
        <Shortcut Id="f_HelpShortCut"
                  Name="CSharpDriverDocs"
                  Description="Help for !(WixProductName)"
                  Target="[INSTALLDIR]CSharpDriverDocs.chm"
                  WorkingDirectory="INSTALLDIR"/>
        <RegistryValue Root="HKCU" Key="Software\MongoDB\CSharpDriver\$(var.SemVersion)" Name="StartMenuHelpShortCutInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="c_License" Guid="*">
        <File Id="f_License" Name="License.rtf" Source="$(var.SourceBase)\$(var.License)"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_ReleaseNotes" Guid="*">
        <File Id="f_ReleaseNotes" Name="Release Notes.txt" Source="$(var.SourceBase)\$(var.ReleaseNotes)"
              DiskId ="1" KeyPath="yes" />
      </Component>
      <Component Id="c_Help" Guid="*">
        <File Id="f_Help" Name="CSharpDriverDocs.chm" Source="$(var.SourceBase)\$(var.Documentation)"
              DiskId ="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="cg_Required">
      <ComponentRef Id="c_License"/>
      <ComponentRef Id="c_ReleaseNotes"/>
      <ComponentRef Id="c_ReleaseNotesShortCut"/>
    </ComponentGroup>

    <ComponentGroup Id="cg_Help">
      <ComponentRef Id="c_Help"/>
      <ComponentRef Id="c_HelpShortCut"/>
    </ComponentGroup>

		<Feature Id="ProductFeature" 
             Title="!(wix.ProductName)" 
             Description="!(wix.ProductName)" 
             Level="1"
             Display="expand"
             ConfigurableDirectory="INSTALLDIR"
             AllowAdvertise="no">
      <ComponentGroupRef Id="cg_Required"/>
      <FeatureRef Id="FrameworksFeature" />
      <Feature Id="Help"
               Title ="Driver Help"
               Description="The driver help file"
               Level ="1"
               AllowAdvertise="no">
        <ComponentGroupRef Id="cg_Help"/>
      </Feature>
		</Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
